<ion-view view-title="Menu">
  <ion-content class="padding custom-background">
    <div class="description">
      <p>The Thomas-Kilmann Conflict Mode Instrument (TKI®) tool is the world’s best-selling tool for helping people understand how different conflict-handling styles affect interpersonal and group dynamics—and
        for empowering them to choose the appropriate style for any situation. The TKI tool assesses an individual’s typical behavior in conflict situations and describes it along two dimensions: assertiveness and cooperativeness. It provides detailed
        information about how that individual can effectively use five different conflict-handling modes, or styles.</p>
    </div>
    <button class="button button-block button-positive custom-lobby-button" ng-click=goToTest()>
        Take test
        </button>
    <button class="button button-block button-positive custom-lobby-button" ui-sref="history">  
          My Results
        </button>
  </ion-content>
</ion-view>